/* 开通会员 */
#Member {

    /* background: orchid; */
    margin-top: 20px;

}

#Member ul {
    border: 1px solid rgba(204, 204, 204, 1);
    border-bottom: none;
    width: 852px;
}

#Member ul li {
    text-align: center;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    height: 50px;
    line-height: 50px;
}

#Member ul li:nth-child(1) {
    text-align: center;
    background: rgba(250, 250, 250, 1);
    /* border: 1px solid rgba(204, 204, 204, 1); */

}

#Member ul li span {
    display: inherit;
    float: left;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    border-right: 1px solid rgba(204, 204, 204, 1);

}

#Member ul li span:nth-last-child(1) {
    border-right: none;
}

#Member ul li:nth-child(2) {
    height: 80px;
}

#Member ul li:nth-child(2) span:nth-child(1),
#Member ul li:nth-child(2) span:nth-child(2) {
    width: 134px;
    line-height: 80px;
}

#Member ul li span:nth-child(1),
#Member ul li span:nth-child(2) {
    width: 134px;
}

#Member ul li span:nth-child(3) {
    width: 234px;
}

#Member ul li span:nth-child(4) {
    width: 346px;
}

#Member ul li span .label_one {
    width: 100%;
    display: inherit;
    line-height: 42px;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
}

#Member ul li:nth-child(2) span .label_center {
    line-height: 38px;
}

#Member ul li span .label_center {
    width: 49.7%;
    display: inherit;
    float: left;
    font-size: 13px;
    border-right: 1px solid rgba(204, 204, 204, 1);
}

#Member ul li span .label_center:nth-last-child(1) {
    border-right: none;
}

#Member ul li:nth-child(2) span .label_center-two {
    line-height: 38px;

}

#Member ul li span .label_center-two {
    width: 33%;
    border-right: 1px solid rgba(204, 204, 204, 1);
    display: inherit;
    float: left;
    font-size: 13px;
}

#Member ul li span .label_center-two:nth-last-child(1) {
    border-right: none;
}

#Member ul li span label img {
    width: 28px;
    height: 24px;
    margin-top: 5px;
}

/* 充值 */
.Recharge_main {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.Recharge_main .Recharge {
    width: 126px;
    height: 43px;
    margin: 0 auto;
    background: rgba(243, 65, 77, 1);
    border-radius: 22px;
    display: block;
    line-height: 43px;
    text-align: center;
    color: #fff;
}
.Recharge_main .paragraph-title{
    color: #141718;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 12px;
}
.Recharge_main .paragraph-Three{
    color: #888889;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}